{% extends "blog/base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    {% if form.errors %}
        <p>Ваши имя и пароль не распознаны. Пожалуйста, попробуйте еще раз</p>
    {% endif %}

    <div class="form form-signin">
        <p class="login-title">Вход</p>
        <form action="{% url 'login' %}" method="POST">
            <input class="form-control" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {{ form.as_p }}
            {% csrf_token %}
            <button class="btn btn-lg btn-success btn-block" type="submit">Вход</button>
        </form>
    </div>
{% endblock %}